<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class = "main-content">
        {{>header}}
        <h2>{{judulLaman}}</h2>
        <p><b>{{pertanyaan1}}</b></p>
        <p>{{jawaban1}}</p>
        <p><b>{{pertanyaan2}}</b></p>
        <p>{{jawaban2}}</p>
        <p><b>{{pertanyaan3}}</b></p>
        <p>{{jawaban3}}</p>
        <p><b>{{pertanyaan4}}</b></p>
        <p>{{jawaban4}}</p>
        <img src = "/img/soal4.png">
    </div>
    {{>footer}}
</body>
</html>